# For the curious and keened eyed who look here, I use the file extention
# ".cana" as a common scratch or hidden file extention, named after the setting
# that I planned the Lascii engine to evenually allow players to explore.
*.cana